/* The "Attendance Tracker" text */

.Classroom-Header-Text {
    color: var(--White);
    font-size: xx-large;
    text-align: left;
    margin: 0px;
    padding: 25px 40px;
    float: left;
}


/* The Bannder */

.Classroom-Banner {
    padding: 50px 50px 50px;
    margin: 0;
}

.Classroom-Banner-Return:hover {
    color: var(--White);
    cursor: pointer;
}

.Classroom-Banner button {
    float: left;
    font-size: xx-large;
    border: 0;
    background-color: var(--White);
    color: var(--Gray);
    outline: none;
    padding-right: 20px;
}

.Classroom-Banner h1 {
    float: left;
    font-size: xx-large;
    /* margin: 0; */
    color: var(--Gray);
}

body .Classroom-Container {
    background-color: var(--White);
    /* height: 90vh; */
}

.Classroom-Banner .Classroom-Time {
    float: right;
    margin-right: 50px;
    font-size: x-large;
    color: var(--BrightGray);
}

.Classroom-Seat {
    position: relative;
    height: 400px;
    margin-left: 120px;
    margin-top: 50px;
}

.Classroom-Seat .Classroom-seat-place {
    width: 70%;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    /* display: inline-block; */
}

.Classroom-Seat .Classroom-seat-row {
    width: 70%;
    height: 75px;
}

.Classroom-Seat .Classroom-Seat-Single {
    float: left;
    height: 60px;
    width: 60px;
    border-radius: 20px;
    margin: 6px;
    border: .1px solid var(--Gray);
}

.Classroom-Seat-Choice {
    width: 20%;
    position: absolute;
    top: 50px;
    right: 0;
}

.Classroom-Seat-Grid {
    height: 60px;
    width: 60px;
    display: inline-block;
    border-radius: 20px;
    margin: 6px;
    border: .1px solid var(--Gray);
    vertical-align: middle;
}

.Classroom-Seat-Choice h4 {
    margin: 0;
    vertical-align: middle;
    display: inline-block;
    color: var(--Gray);
}

.Classroom-Seat-Selected-Grid {
    background-color: var(--Green);
}

.Classroom-Seat-Available-Grid {
    background-color: var(--Red);
}

.Classroom-Seat-Occupied-Grid {
    background-color: var(--Gray);
}


.rowEnd {
    width: 70%;
    padding: 40px;
}

.Classroom-Button {
    position: relative;
    height: 120px;
    margin-left: 120px;
    margin-top: 50px;
}

.Classroom-location {
    float: left;
    color: var(--BrightGray);
}

.Classroom-Edit-Button {
    display: block;
    height: 60px;
    width: 150px;
    /* margin-right: 160px; */
    text-align: center;
    font-size: 16px;
    line-height: 58px;
    text-decoration: none;
}

.Classroom-Submit-Button {
    position: absolute;
    top: 0;
    right: 15%;
    background-color: var(--Red);
    border: 0.1px solid var(--Gray);
    color: #ffffff;
    /* same as margin-left in location */
    border-radius: 25px;
    text-shadow: .1px .1px 2px var(--Black);
}

.Classroom-Options-Button {
    position: absolute;
    bottom: 0;
    right: 15%;
    color: var(--Gray);
    text-shadow: .1px .1px 0px var(--White);
}


/* color change for hover */

.Classroom-Submit-Button:hover {
    background-color: var(--BrightRed);
}

.Classroom-Options-Button:hover {
    color: var(--BrightGray);
}

.Classroom-Seat-Available-Grid:hover {
    background-color: var(--BrightRed);
    cursor: pointer;
}

.Classroom-Seat-Selected-Grid:hover {
    cursor: pointer;
}

.Classroom-Banner button:hover {
    color: var(--BrightGray);
    cursor: pointer;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    /* IE6 and 7  */
    *zoom: 1;
}