.modal {
    position: fixed;
    z-index: 1;
    background-color: rgba(0,0,0,0.25);
    width: 100%;
    height: 100%;
}

.modal_content {
    background-color: var(--White);
    position: fixed;
    border-radius: 20px;
    height: 237px;
    width: 317px;
    margin: 40px 0px 0px 50px;
}